.m-top-3 {
  margin-top: 3rem;
}

.m-3 {
  margin: 3rem;
}

.m-left-1 {
  margin-left: 1rem !important;
}

.ta-center {
  text-align: center;
}

.float-r {
  float: right
}

/*Fix bootstrap dropdown buttons not taking parent's full width
Add className='btn-flex' to parent of a SplitButton*/

.btn-flex .btn-group {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-group .btn:first-child {
  flex-grow: 1;
  text-align: left;
}

/*-----------------------*/

/*Fix pagination styling*/

.pagination {
  margin: 0 0 1rem 0;
  float: right
}

/*-----------------------*/

#pageDropDownn {
  background-image: -webkit-linear-gradient(top, #337ab7 0, #265a88 100%);
  background-image: -o-linear-gradient(top, #337ab7 0, #265a88 100%);
  background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #245580;
}